
<%= stylesheet_link_tag 'login'%>
<div class="h-100 gradient-form back" >
  <div class="container  h-100 pd-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">

        <div class="card rounded-3 text-black shadow1" >
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4" style="background-color:#97DEFF;">

                <div class="text-center">

                  <h4 class="mt-1 mb-5 pb-1">Welcome to  <br> Career Development Portal</h4>
                </div>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|  %>
                    <center><h4>Sign In</h4></center>

                    <div class="form-outline mb-4">
                      <!-- <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label> -->
                      <%= f.label :name,class:"form-label", for:"form2Example22" %><br />
                      <%= f.password_field :name ,class:"form-control" %>
                    </div>

                    <% options = options_from_collection_for_select(Branch.all,'id' ,'name')%>
              <div class="input-group mb-3" id="course-input">
                <%= f.label :mybranch ,"Branch" ,for:"exampleInputEmail1", class:"input-group-text "%>
                <%= f.select(:mybranch ,Branch.all.collect { |f| [f.name, f.id] } ,{:include_blank => 'Choose...'}, { :class => 'form-select',:id => "u-type"}) %>
              </div>

                    <div class="form-outline mb-4">
                      <!-- <input type="email" id="form2Example11" class="form-control"
                        placeholder="Phone number or email address" />
                      <label class="form-label" for="form2Example11">Username</label> -->

                        <%= f.label :email, class:"form-label", for:"form2Example11" %> <br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email",id:"form2Example11" ,class:"form-control",
                          placeholder:"Enter your email address" %>

                    </div>

                    <div class="form-outline mb-4">
                      <!-- <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label> -->
                      <%= f.label :password ,class:"form-label", for:"form2Example22"%>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"Enter your password"  %>

                    </div>

                    <div class="form-outline mb-4">
                      <!-- <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label> -->
                      <%= f.label :password_confirmation,class:"form-label", for:"form2Example22" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control",placeholder:"Confirm your password"  %>
                    </div>

                    <div class="form-outline mb-4">
                      <!-- <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Password</label> -->
                      <%= f.label :resume,class:"form-label", for:"form2Example22" %><br />
                      <%= f.file_field :resume, autocomplete: "new-password" ,class:"form-control",placeholder:"Confirm your password"  %>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">

                      <%= f.submit "Sign In", class:"btn btn-info" ,style:"padding:10px;" %> <br>
                      <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                      <%= link_to "Forgot your password?", new_password_path(resource_name),class:"text-muted"  %><br />
                    </div>

                    <div class="d-flex align-items-center justify-content-center ">
                      <p class="mb-0 me-2">Already have an account?</p>
                      <!-- <button type="button" class="btn btn-outline-danger">Create new</button> -->
                      <%= link_to "Log In", new_session_path(resource_name) ,class:"btn btn-outline-dark"%><br />
                    </div>

                  <% end %>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <div class="">
                <center>
                  <%= image_tag 'logo',style:"vertical-align: middle;width: 10rem;height: 10rem;border-radius: 10%;margin-right:20px; margin-bottom:20%;margin-top:10%;"%>
                  </center>
              </div>
              <h4 class="mb-4">Want to register as a Company and recruit some of the top brains?</h4>
              <p class="small mb-0"><ul>
                <li> Mail us at maitrinitk@gmial.com</li>
                <li> An approval mail will be recieved in 2-3 working days</li>
                <li> Get posted at our official website and get a POC to assist you.</li>
                <li> Select the resumes and Conduct Recruitments offline or as per your requirement.S</li>
              </ul></p>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
