<%= stylesheet_link_tag 'login' %>
<!-- HTML code for heading -->
<div class="text" id="heading">
 <a href="#">
  <%=image_tag 'logo' , height:75 %>
 </a>
    <h1 class="text">Carrer Development Centre</h1>
</div>

<!-- HTML code for navigation bar -->
<div id="navigation">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

      <button id="togle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  center"  id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <%=link_to 'Home', root_path,class:"nav-link" %>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/applications/" >My Applications</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/users/edit/">Edit Profile</a>
          </li>
          <% @user=User.find(current_user.id)%>
          <% @company=Company.find_by(user:@user)%>
          <% if @company != nil &&  @user.adminstatus == nil%>
          <li class="nav-item ">
            <%=link_to 'POC Portal', rails_admin_path(user:@user),class:"nav-link" %>
          </li>
          <% end%>
          <% @user=User.find(current_user.id)%>
          <% if @user.adminstatus != nil%>
          <li class="nav-item ">
            <%=link_to 'Admin Portal', rails_admin_path(user:@user),class:"nav-link" %>
          </li>
          <% end%>
        </ul>

      </div>

    </div>
  </nav>
</div>
